<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>mj-workbook</title>
    <link rel="stylesheet" href="/public/pico.min.css">
    <link rel="stylesheet" href="/public/style.css">
    
  <link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css">
    <script src="/public/htmx.min.js"></script>
  </head>
  <body>
    <main class="container">
      <div hx-get="/snippets/channels" hx-trigger="load, every 10s" hx-swap="innerHTML " hx-target="#loader">
        <div id="loader" class="flex items-center">
          <div class="lds-ripple"><div></div><div></div></div> 
          <span>
            &nbsp;Loading channels
          </span>
        </div>

      </div>
      </div>

