<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>mj-workbook</title>
    <link rel="stylesheet" href="/public/pico.min.css">
    <script src="/public/htmx.min.js"></script>
  </head>
  <body>
    <main class="container">
      <div hx-get="/snippets/channels" hx-trigger="load, every 2s"></div>
        spinner
      </div>
    </span>
